.register {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 48rem;
  margin: 4rem auto;
}

.row {
  display: flex;
  flex-direction: column;
}

.formBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formBtns p {
  font-size: 1.6rem;
  align-self: center;
  font-weight: 400;
}

.formLink:link,
.formLink:visited,
.formLink:hover,
.formLink:active {
  color: #00c46a;
  text-decoration: none;
  font-weight: 800;
}
